<h1><%= t('edit_downloadable_setting') %></h1>
<% form_tag admin_downloadable_setting_path, :method => :put do -%>
  <%= label_tag @edit_field %>
  <%= text_field_tag 'field_value', Spree::Config[@edit_field.to_sym], :maxlength => 10 %><br/>
  <p class="form-buttons"><%= button t('save_preferences') %></p>
<% end -%>
